@charset "UTF-8";

/* 一覧ページ
=========================== */
.col-fv {
  width: 100%;
}

.col-fv__titleArea {
  margin-top: 88px;
  text-align: center;
}

.col-area {
  margin-top: 72px;
  display: flex;
  gap: 32px;
}

.col-main {
  width: 100%;
  max-width: calc(100% - 244px);
}

.col-headArea {
  height: 44px;
}

.col-headArea__main {
  width: inherit;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-headArea__mainSp {
  display: none;
}


.col-caption {
  font-size: 12px;
}

.col-result {
  font-size: 14px;
  line-height: 1;
}

.col-result .-strong {
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato";
  line-height: 1.1;
}

.col-search {
  display: flex;
  align-items: center;
  gap: 12px;
}

.col-filters {
  font-size: 12px;
  font-weight: 700;
}

.arrow-down {
  margin-left: -10px;
  width: 8px;
  height: 8px;
}

.col-bodyArea {
  margin-top: 24px;
}

.col-items {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
  gap: 32px 8px;
}

.col-item {
  width: 100%;
  height: 323px;
}

.col-product__img {
  width: 100%;
	max-width: 213px;
  height: auto;
  border-radius: 12px;
}

/* ページネーション
=========================== */
.col-paginationArea {
  margin-top: 48px;
  text-align: center;
}

.product-paginations {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.product-pagination {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border-right-width: 1px;
  border-left-width: 1px;
  background: #DCD7CF;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 700;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-pagination.is-current {
  background: #AB8572;
  color: #fff;
}

/* サイドバー
=========================== */
.col-aside {
  width: 244px;
}

.side-narrowDown {

}

.aside-nar__titleArea {

}

.aside-nar__display {

}

.aside-nar__delete {

}

.aside-tagArea {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aside-category {
  margin-top: 10px;
}

.aside-category:nth-child(n + 2) {
  margin-top: 20px;
}

.aside-cat__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  padding-bottom: 10px;
  padding-left: 16px;
  border-bottom: 1px solid #999999
}

.aside-cat__lists {
  margin-top: 10px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.aside-cat__list {
  padding-left: 31px;
  position: relative;
}

.aside-cat__list::before {
  content: "";
  position: absolute;
  border: 1px solid #292929 ;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

}


/* レスポンシブ対応
=========================== */
@media screen and (max-width: 768px) {

  /*  一覧ページ
  =========================== */
  .col-area {
    margin-top: 24px;
    flex-direction: column;
    gap: 24px;
  }

    /* 一覧ページ
  =========================== */
  .col-headArea,
  .col-headArea__main {
    display: none;
  }

  .col-headArea__mainSp {
    display: block;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .col-main {
    max-width: 768px;
  }

  .col-search {

  }

  .col-items {

    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(167px, 1fr));
    gap: 32px 8px;
  }


    /* サイドバー
  =========================== */
  .col-aside {
    width: 100%;
    display: none;
  }





}
