@charset "UTF-8";

/* guide.htmlとfaq.htmlと混合 */

/* guide ページ
=========================== */
.guide {
  margin: 72px auto 0;
  width: 100%;
  max-width: 720px;
}

.guide-contents {
  margin-top: 32px;
}

.guide-content {
  margin-top: 32px;
}

.guide-text {
  font-size: 14px;
  line-height: 2;
}

.guide-title {
  margin-top: 24px;
  width: 100%;
  background: #292929;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 14px 24px;
  border-radius: 8px;
}

.guide-textArea {
  margin-top: 24px;
}

.guide-lists {
  margin-top: 24px;
}

.guide-list {
  font-size: 14px;
  line-height: 2;
  padding-left: 18px;
  position: relative;
}

.guide-list::before {
  content: "";
  position: absolute;
  background: #AB8572;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.guide-linkArea {
  margin-top: 24px;
}

.guid-link {
  font-size: 14px;
  line-height: 2;
  color: #AB8572;
  text-decoration: underline;
}

.guide-table {
  margin-top: 24px;
  border-collapse:  collapse;
}

.guide-table__th,
.guide-table__td {
  border: 1px solid #292929;
  max-width: 240px;
  padding: 6px;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  text-align-last: left;
}

.guide-imgArea {
  margin-top: 40px;
}

.guide-img {
  width: 100%;
  max-width: 720px;
  height: auto;
}

.guide-captionArea {
  margin-top: 40px;
}

.guide-caption__h3 {
  font-size: 20px;
  line-height: 2.8;
  font-weight: 700;
  padding-left: 25px;
  position: relative

}

.guide-caption__h3::before {
  content: "";
  position: absolute;
  background: #CDC2B5;
  width: 4px;
  height: 56px;
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

}

.guide-caption__h4 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 24px;
  padding-bottom: 11px;
  border-bottom:1px solid #CDC2B5;
}

.guide-btnArea {
  margin: 76px auto 0;
  text-align: center;
}

/* faqセクション
=========================== */
.faq {
  margin: 72px auto 0;
  width: 100%;
  max-width: 720px;
}

.faq-contents {
  margin-top: 32px;
}

.faq-content {
  margin-top: 72px;
}

.faq-content:first-of-type {
  margin-top: 0;
}

.faq-accordionArea {
  width: 100%;
}

.accordion-q {
  background: #DCD7CF;
  padding: 14px 24px 14px 57px;
  font-size: 14px;
  line-height: 2;
  border-bottom: 1px solid #959595;
  position: relative;
}

.accordion-q:first-of-type {
  border-top: 1px solid #959595;
}

.accordion-q::before {
  content: "";
  position: absolute;
  background: url(../img/icon-q.png)no-repeat center center /contain;
  width: 17px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.accordion-q::after {
  content: "";
  position: absolute;
  background: url(../img/arrow-down.png)no-repeat center center /contain;
  width: 8px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.accordion-a {
  background: #EDE8E2;
  padding: 14px 24px 14px 57px;
  font-size: 14px;
  line-height: 2;
  border-bottom: 1px solid #959595;
  position: relative;
}

.accordion-a::before {
    content: "";
  position: absolute;
  background: url(../img/icon-a.png)no-repeat center center /contain;
  width: 17px;
  height: 24px;
  top: 25%;
  left: 16px;
}
